{% extends 'base.html' %}

{% block content %}
<h2>Your Rentals</h2>
<ul class="list-group">
    {% for rental in rentals %}
    <li class="list-group-item">
        {{ rental.vehicle.make }} {{ rental.vehicle.model }} - Rented on {{ rental.rental_date }}
        {% if rental.return_date %}
            - Returned on {{ rental.return_date }}
        {% else %}
            - Currently Rented
        {% endif %}
        <a href="{% url 'rental_summary' rental.id %}" class="btn btn-secondary btn-sm float-right">Details</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
